{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-6">
    <h1 class="monospace">
      {{ artist.name }}
    </h1>
    <p class="subtitle">
      ID: {{ artist.id }}
    </p>
    <div class="genres">
      {% for genre in artist.genres %}
      <span class="genre">{{ genre }}</span>
      {% endfor %}
    </div>
    <p>
      <i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
    </p>
    <p>
      <i class="fas fa-phone-alt"></i>
      {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
    </p>
    <p>
      <i class="fas fa-link"></i>
      {% if artist.website %}
      <a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>
      {% else %}
      No Website
      {% endif %}
    </p>
    <p>
      <i class="fab fa-facebook-f"></i>
      {% if artist.facebook_link %}
      <a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>
      {% else %}
      No Facebook Link
      {% endif %}
    </p>
    {% if artist.seeking_venue %}
    <div class="seeking">
      <p class="lead">Currently seeking performance venues</p>
      <div class="description">
        <i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
      </div>
    </div>
    {% else %}
    <p class="not-seeking">
      <i class="fas fa-moon"></i> Not currently seeking performance venues
    </p>
    {% endif %}
    <h3>
      <a href="/artists/{{ artist.id }}/edit"><button class="btn btn-primary btn-lg">Edit artist</button></a>
      <button class="btn btn-default btn-lg" id="delete-artist" data-artist-id="{{ artist.id }}">Delete artist</button>
    </h3>
  </div>
  <div class="col-sm-6">
    <img src="{{ artist.image_link }}" alt="Venue Image" />
  </div>
</div>
<section>
  <h2 class="monospace">Featured Music</h2>
  <table class="table table-striped" style="width: 450px;">
    <tbody>
      {% for featured in artist.music %}
      <tr>
        <th width="100" style="vertical-align: middle;" scope="row">{{ featured.type_ }}</th>
        <td width="300" style="vertical-align: middle;">{{ featured.title }}</td>
        <td width="50" align="center" style="color: red;">
          <button class="btn btn-light btn-sm delete-music" data-artist-id="{{ artist.id }}"
            data-music-id="{{ featured.id }}">
            &Cross;
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="/artists/{{ artist.id }}/music/create" method="post" class="form">
    <div class="form-inline">
      <div class="form-group form-wrapper">
        <div class="form-group" style="width: 25%;">
          {{ music_form.type_(class_ = 'form-control', placeholder='Type', autofocus = true) }}
        </div>
        <div class="form-group" style="width: 75%;">
          {{ music_form.title(class_ = 'form-control', placeholder='Title', autofocus = true) }}
        </div>
      </div>
      <input type="submit" value="Add" class="btn btn-primary">
    </div>
    {{ music_form.csrf_token() }}
  </form>
</section>
<section>
  <h2 class="monospace">Unavailability</h2>
  <table class="table table-striped" style="width: 450px;">
    <tbody>
      {% for unavailability in artist.unavailabilities %}
      <tr>
        <td width="200" style="vertical-align: middle;">From: {{ unavailability.start_time }}</td>
        <td width="200" style="vertical-align: middle;">To: {{ unavailability.end_time }}</td>
        <td width="50" align="center" style="color: red;">
          <button class="btn btn-light btn-sm delete-unavailability" data-artist-id="{{ artist.id }}"
            data-unavailability-id="{{ unavailability.id }}">
            &Cross;
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="/artists/{{ artist.id }}/unavailability/create" method="post" class="form">
    <div class="form-inline">
      <div class="form-group form-wrapper">
        <div class="form-group">
          {{ unavailability_form.start_time(class_ = 'form-control', placeholder='Start Time', autofocus = true) }}
        </div>
        <div class="form-group">
          {{ unavailability_form.end_time(class_ = 'form-control', placeholder='End Time', autofocus = true) }}
        </div>
      </div>
      <input type="submit" value="Add" class="btn btn-primary">
    </div>
    {{ unavailability_form.csrf_token() }}
  </form>
</section>
<section>
  <h2 class="monospace">
    {{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}
  </h2>
  <div class="row">
    {%for show in artist.upcoming_shows %}
    <div class="col-sm-4">
      <div class="tile tile-show">
        <img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
        <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
        <h6>{{ show.start_time|datetime('full') }}</h6>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section>
  <h2 class="monospace">
    {{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}
  </h2>
  <div class="row">
    {%for show in artist.past_shows %}
    <div class="col-sm-4">
      <div class="tile tile-show">
        <img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
        <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
        <h6>{{ show.start_time|datetime('full') }}</h6>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<script>

  const deleteArtist = document.querySelector('#delete-artist');
  deleteArtist.onclick = (event) => {
    const { artistId } = event.target.dataset;
    fetch(`/artists/${artistId}`, {
      method: 'DELETE',
    }).then(() => {
      window.location.replace('/artists');
    });
  };

  const deleteFeatured = document.querySelectorAll('.delete-music');
  deleteFeatured.forEach((deleteMusic) => {
    const music = deleteMusic;
    music.onclick = (event) => {
      const { artistId, musicId } = event.target.dataset;
      fetch(`/artists/${artistId}/music/${musicId}`, {
        method: 'DELETE',
      }).then(() => {
        window.location.replace(`/artists/${artistId}`);
      });
    };
  });

  const deleteUnavailabilities = document.querySelectorAll(
    '.delete-unavailability'
  );
  deleteUnavailabilities.forEach((deleteUnavailability) => {
    const unavailability = deleteUnavailability;
    unavailability.onclick = (event) => {
      const { artistId, unavailabilityId } = event.target.dataset;
      fetch(`/artists/${artistId}/unavailability/${unavailabilityId}`, {
        method: 'DELETE',
      }).then(() => {
        window.location.replace(`/artists/${artistId}`);
      });
    };
  });

</script>

{% endblock %}